/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.words {
  height: 550px;
  overflow-y: scroll;
}

.word {
  margin-bottom: 4px;

  .text {
    font-weight: bold;
  }

  .actions {
    .btn {
      border-radius: 20px;
      width: 25px;
      height: 25px;
      padding: 0;
    }
    i {
      font-size: 0.8em;
      line-height: 25px;
    }
  }

  &.favorited {
    .favorite {
      color: red;
    }
  }
}
