/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-image: asset-url('kindajean.png');
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

form {
  textarea[name='text'] {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: block;
    border: none;
    box-shadow: none;
    box-sizing: border-box;

    &:hover {
      border: none;
    }
  }

  button {
    margin: 0 auto;
  }
}

ul.words {
  display: inline-block;
  list-style: none;

  li.word {
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }

    &.selected {
      background-color: #aaa;
    }

    &.ignored {
      display: none;
    }

    &.favorited {
      color: red;
    }

    span.count {
      width: 25px;
      display: inline-block;
    }

    span.text {
      font-weight: bold;
    }

    span.actions {
      float: right;

      i {
        width: 20px;
        height: 20px;

        &:hover {
          background-color: white;
        }
      }
    }

  }
}

span.definition {
}

